:root {
  --bamboo: #2c6705;
  --bg: #333;
  --b: #000;
  --y: yellow;
  --w: #f9f6ee; /*will use gradient later*/
  --gradient1: linear-gradient(25deg, #ff1234 3%, #a2345f 40%, #281ff2);
}
main {
  background: black;
  color: var(--w);
}
nav {
  margin: 0;
  overflow: hidden;
  background: var(--bamboo);
}
#logo a img {
  width: 5.5em;
  height: 5.5em;
  object-fit: cover;
  border: 0.5em solid #0f0;
  border-radius: 5em;
}
#logo {
  border-style: none; /*TODO fix hover*/
  font-size: 12px;
}
#logo:hover {
  /*stupid hot fixTODO: fix this later*/
  background-color: var(--bamboo);
}
#menue {
  background-color: var(--b);
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
} /*list element style*/
#menue ul {
  margin: 0;
  padding: 0;
}
#menue ul li {
  /* This allow to arrange list items in a row, without using float */
  display: inline-block;
  list-style-type: none;
} /*first level item style*/
.columns #menue > ul > li > a {
  color: var(--w);
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}
#menue > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #0f0;
}
body {
  margin: 2 auto;
  padding: 0;
  font-family: Helvetica neue, Tahoma, Roboto, Arial;
  font-size: 15px;
}
.columns {
  margin-top: -20px;
  text-align: right;
  display: flex;
  height: 180px;
  flex-flow: row wrap;
  justify-content: space-around;
}
#menue {
  padding: 0.5em;
  margin: auto;
}
.column {
  padding: 0.5em;
  margin: auto;
  border: #0f0 dashed;
}
.column:hover {
  background: var(--bamboo);
  color: var(--w);
}
.column:hover > .column-heading {
  background: #0f0;
  color: #0ff;
  border-bottom: dashed 5px #000;
}
footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  column-count:2;
  column-gap: 30vw;
  height: 170px;
  margin-top:50px;
  text-align: center;
  background-color: #09080b;
  color: #ccc;
  vertical-align: middle;
}

footer h3 {
  text-align: left;
  font-size: 48px;
  margin-left: 30px;
}
footer #left {
  text-align: left;
  color: white;
  font-size: 28px;
  display: inline-block;
  margin-top: 62px;
}
footer #twitterbtn {
  text-decoration: inherit;
  box-shadow: 0px 0px 1px 1px #1da1f2;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 0 auto;
  margin-left: 10px; /*space between copyright and twitterbtn*/
  color: #1da1f2;
}
footer #twitterbtn:hover {
  background: #1da1f2;
  color: var(--b);
}
