body {
  background: #000;
  color: #fff;
  font-family: Helvetica;
  margin: 0;
  font-size: 21px;
}
header {
  letter-spacing: 5px;
  font-weight: bold;
  color: #0ff;
  border-bottom: solid 5px #0ff;
  width: 500px;
  margin-bottom:2em;

}

* h3 {
  border-bottom: solid 5px #0ff;
  font-size: 28px;
}
.columns {
  margin-top: -20px;
  text-align: right;
  display: flex;
  height: 180px;
  flex-flow: row wrap;
  justify-content: space-around;
  
  
}

.column {
  padding: 0.5em;
  margin: auto;
  border: #fff dashed;
}
.column:hover {
  background: #fff;
  color: #000;
}

/*changes another element as well, in this case h3 with id column-heading*/
.column:hover > .column-heading {
  background: #fff;
  color: #0ff;
  border-bottom: dashed 5px #000;
}
footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  column-count:2;
  column-gap: 30vw;
  height: 170px;
  margin-top:50px;
  text-align: center;
  background-color: #09080b;
  color: #ccc;
  vertical-align: middle;
}

footer h3 {
  text-align: left;
  font-size: 48px;
  margin-left: 30px;
}

footer #left {
  text-align: left;
  color: white;
  font-size: 28px;
  display: inline-block;
  margin-top: 62px;
}
footer #twitterbtn {
  text-decoration: inherit;
  box-shadow: 0px 0px 1px 1px #1da1f2;
  border-radius: 5px;
  padding: 5px;
  padding-bottom:0 auto;
  margin-left: 10px; /*space between copyright and twitterbtn*/
  color: #1da1f2;
}
footer #twitterbtn:hover {
  background: #1da1f2;
  color: #000;
}
